<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>&nbsp;WMSGPT | not ready</title>
    <link rel="shortcut icon" href="../static/favicon.png" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <script async src="../static/js/scroll.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="inner"></div>
      </header>
      <section id="sec-1">
        <a id="header-front" target="_blank" href="https://github.com/sexy-code-maker/WMSGPT">GITHUB 페이지 방문하기</a>
      </section>
      <section id="sec-2">
        <div class="introduction">
          <h1>WMSGPT</h1>
          <hr />
          <br />
          <li><h2>Powered By GPT-3.5 and MOGO</h2></li>
        </div>
        <div class="discord-chat-container">
          <div class="button-area"></div>
        </div>
      </section>
    </div>
  </body>
</html>
